@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #dc2626;
  color: white;
}